In [7]:
%%writefile zoo.py
def hours():
    print("Open 9-5 daily")

Writing zoo.py

In [8]:
import zoo
zoo.hours()

Open 9-5 daily

In [9]:
import zoo as menagerie
menagerie.hours()

Open 9-5 daily

In [1]:
# 16.1
csv_content = """author,book
J R R Tolkien,The Hobbit
Lynne Truss,"Eats, Shoots & Leaves"
"""

with open('books.csv', 'w') as f:
    f.write(csv_content)
    
print("books.csv created successfully!")

books.csv created successfully!

In [2]:
import csv

# 16.2 
with open('books.csv', 'r') as f:
    books = list(csv.DictReader(f))
    
print("Contents of books.csv:")
for book in books:
    print(book)

Contents of books.csv:
{'author': 'J R R Tolkien', 'book': 'The Hobbit'}
{'author': 'Lynne Truss', 'book': 'Eats, Shoots & Leaves'}

In [3]:
# 16.3 
books2_content = """title,author,year
The Weirdstone of Brisingamen,Alan Garner,1960
Perdido Street Station,China Mi√©ville,2000
Thud!,Terry Pratchett,2005
The Spellman Files,Lisa Lutz,2007
Small Gods,Terry Pratchett,1992
"""

with open('books2.csv', 'w') as f:
    f.write(books2_content)
    
print("books2.csv created successfully!")

books2.csv created successfully!

In [4]:
import sqlite3

# 16.4
conn = sqlite3.connect('books.db')
cursor = conn.cursor()

# Create books table
cursor.execute('''
    CREATE TABLE IF NOT EXISTS books (
        title TEXT,
        author TEXT,
        year INTEGER
    )
''')

conn.commit()
print("books.db database created with books table.")

books.db database created with books table.

In [5]:
# 16.5 
with open('books2.csv', 'r') as f:
    reader = csv.DictReader(f)
    for row in reader:
        cursor.execute('''
            INSERT INTO books (title, author, year)
            VALUES (?, ?, ?)
        ''', (row['title'], row['author'], int(row['year'])))
        
conn.commit()
print("Data from books2.csv inserted into books table.")

Data from books2.csv inserted into books table.

In [6]:
# 16.6 
print("Book titles in alphabetical order:")
cursor.execute('SELECT title FROM books ORDER BY title ASC')
for row in cursor.fetchall():
    print(row[0])

Book titles in alphabetical order:
Perdido Street Station
Small Gods
The Spellman Files
The Weirdstone of Brisingamen
Thud!